li{
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: medium;
}

ul{
    padding-left: 10px;
    padding-right: 10px;
}

div{
    background-color: #673AB7;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1rem;
}

a:hover{
    text-decoration: none;
    color: #FFD740;
}

a{
    color: white;
}

.menu{
    text-align: center;
    color: white;
    font-size: xx-large;
    padding-bottom: 15px;
    border-bottom: 2px solid #FFD740;
    padding-top: 15px;
}