<div>
    <ul>
        <li class="menu">Menu</li>
        <li style="padding-top: 20px;"><a routerLink="transactions"><fa-icon [icon]="transaction"></fa-icon>&nbsp;&nbsp;&nbsp;Library Transaction</a></li>
        <li><a routerLink="members"><fa-icon [icon]="member"></fa-icon>&nbsp;&nbsp;&nbsp;Member Management</a></li>
        <li><a routerLink="books"><fa-icon [icon]="book"></fa-icon>&nbsp;&nbsp;&nbsp;Book Management</a></li>
        <li><a routerLink="packages"><fa-icon [icon]="subscription"></fa-icon>&nbsp;&nbsp;&nbsp;Subscription Packages</a></li>
        <li><a routerLink="sections"><fa-icon [icon]="section"></fa-icon>&nbsp;&nbsp;&nbsp;Library Sections</a></li>
        <li style="padding-bottom: 30px;"><a routerLink="reports"><fa-icon [icon]="report"></fa-icon>&nbsp;&nbsp;&nbsp;Reports</a></li>
    </ul>
</div>
